@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #000732da;
  color: whitesmoke;
}


nav {
  display: flex;
  background-color: rgb(90 22 161);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0 100px;
}

nav>.left {
  font-size: 1.75rem;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin: 0px 20px;
}

nav ul li a {
  color: #f0f0f7;
  font-size: 1.15rem;
  padding: 5px 10px;
  background-color: rgb(90 22 161);
  border: 2px solid rgb(90 22 161);
  border-radius: 10px;
  text-decoration: none;
  transition: all ease 0.5s;
}

nav ul li a:hover {
  color: rgb(135, 135, 243);
  background-color: rgb(125, 42, 214);
  border-radius: 2px solid rgb(48, 48, 190);
}


.firstSection {
  display: flex;
  width: 100%;
  margin: 80px;
  align-items: center;
  justify-content: space-around;
}

.firstSection .leftSection {
  width: 30%;
  font-size: 2rem;
}

.rightSection {
  width: 30%;

}

.rightSection img {
  width: 90%;
  border-radius: 10px;
}


.about {
  height: 50vh;
  width: 100vw;
  padding: 0 100px;
}

.about h1 {
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  color: #fbfbfb;
  font-family: "Libre Baskerville", serif;
}



.about .description p {
  color: #e3bdff;
  font-size: 20px;
  background-color: #9007f2;
  border: 2px solid rgb(210, 84, 245);
  border-radius: 20px;
  padding: 20px;

}


.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
}

.skills h1 {
  font-size: 56px;
  font-weight: 700;
  color: #fbfbfb;
  font-family: "Libre Baskerville", serif;
}

.cards {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  gap: 2.5vh;
}

.skill-card {
  height: 20vw;
  width: 20vw;
  background-color: rgb(90 22 161);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 2.5vh;
  transition: all ease 0.5s;
}

.skill-card:hover {
  background-color: rgb(144, 53, 242);
}

.skill-card img {
  height: 7.5vw;
  width: 7.5vw;
  object-fit: contain;
}

.skill-card h2 {
  font-size: 24px;
  font-weight: 400;
  color: #fbfbfb;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
}

.projects h1 {
  font-size: 56px;
  font-weight: 700;
  color: #fbfbfb;
  font-family: "Libre Baskerville", serif;
}

.projects-cards {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 50px;
  gap: 2.5vh;

}

.projects-card {
  position: relative;
  height: 20vw;
  width: 25vw;
  background-color: rgb(89, 19, 163);
  border-radius: 20px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 2.5vh;
  transition: all ease 0.5s;
  padding: 20px;

}

.projects-card:hover {
  background-color: rgb(144, 53, 242);
}

.projects-card .overlay h3 {
  color: #fbfbfb;
  font-size: 24px;
}

.projects-card .overlay p {
  color: #fbfbfb;
  font-size: 16px;
  text-align: center;
}

.projects button {
  margin-top: 50px;
  height: 48px;
  width: 144px;
  border: 1px solid #fec86a;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background: #C21292;
  color: lavenderblush;
  transition: all ease 0.5s;
}

.projects button:hover {
  background-color: #EF4040;
}


.contact-me {
  width: 100vw;
  padding: 100px;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-me h1 {
  font-size: 56px;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}

.contact {
  display: flex;
  gap: 24px;
}

.contact-card {
  background: #C21292;
  color: lavenderblush;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  margin-top: 7.5vh;
}


.highlight,
#element {
  color: rgb(161, 82, 235);
}